<div style="max-width:400px; margin:auto; margin-top: 100px;">
    <%= form_with model: @user, class: "w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin", url: session_path do |form| %>

        <h2 class="w3-center">
            <%= image_tag("logo.png", size: "32x32") %>
            Login
        </h2>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-envelope-o"></i>
            </div>
            <div class="w3-rest">
                <%= form.email_field :email, 
                    placeholder: "Email",
                    class: "w3-input w3-border"
                %>
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-pencil"></i>
            </div>
            <div class="w3-rest">
                <%= form.password_field :password, 
                    placeholder: "Password",
                    class: "w3-input w3-border"
                %>
            </div>
        </div>

        <%= form.submit "Send", class: "w3-button w3-block w3-section w3-pink w3-ripple w3-padding" %>

    <% end %>
</div>

<small>
<%= link_to "Forgot your password ?", new_password_reset_path %>
</small>