<h1>Sign Up</h1>

<%= form_with model: @user, url: registration_path do |form| %>
    <% if form.object.errors.any? %>
        <div>
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div>
        <div>
            <%= form.label :firstname %>
            <%= form.text_field :firstname %>
        </div>

        <div>
            <%= form.label :lastname %>
            <%= form.text_field :lastname %>
        </div>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>

    <div>
        <div>
            <%= form.label :password %>
            <%= form.password_field :password %>
        </div>

        <div>
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation %>
        </div>
    </div>

    <div>
        <%= form.submit "Sign Up" %>
    </div>
<% end %>