<table class="w3-table w3-card-4 w3-margin w3-round" >
    <tr class="">
        <td class="w3-left-align w3-xlarge">
            <%= resource_groupe.name.titleize %>
        </td>
        <td>
            <%= resource_groupe.description %>
        </td>
        <td class="w3-right-align">
            <%= link_to '<i class="w3-large material-icons">delete</i>'.html_safe, 
                resource_groupe_path(resource_groupe),
                data: {
                    turbo_method: :delete,
                    turbo_confirm: "You are abotu to delete '#{resource_groupe.name}'. Are you sure ?"
                },
                class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-red"
            %>
            <%= link_to '<i class="w3-large material-icons">edit</i>'.html_safe, 
                edit_resource_groupe_path(resource_groupe), 
                class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-light-green"
            %>
            <%= link_to '<i class="w3-large material-icons">view_list</i>'.html_safe, 
                resources_path(groupe: resource_groupe), 
                class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-light-blue"
            %>
        </td>
    </tr>
</table>