<%= button_to '<i class="material-icons">add</i>'.html_safe, "#", class:"plus-button w3-btn w3-large w3-circle w3-indigo" %>

<h1 class="w3-container">
    <i class="w3-xxlarge material-icons">speaker_group</i>
    Resources
</h1>

<div class="w3-container w3-margin">
    <h2>Groups</h2>
    <table class="w3-table w3-card-4" >
        <% @resource_groupes.each do |groupe| %>
            <tr class="">
                <td class="w3-left-align w3-xlarge">
                    <%= groupe.name.titleize %>
                </td>
                <td>
                    <%= groupe.description %>
                </td>
                <td class="w3-right-align">

                    <%= link_to '<i class="w3-large material-icons">delete</i>'.html_safe, 
                        resources_path(groupe: groupe), 
                        class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-red"
                    %>

                    <%= link_to '<i class="w3-large material-icons">edit</i>'.html_safe, 
                        resources_path(groupe: groupe), 
                        class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-light-green"
                    %>
                    
                    <%= link_to '<i class="w3-large material-icons">view_list</i>'.html_safe, 
                        resources_path(groupe: groupe), 
                        class: "w3-btn w3-xlarge w3-right w3-round w3-padding w3-text-white w3-hover-light-blue"
                    %>
                    
                    
                </td>
            </tr>
        <% end %>
    </table>
</div>