<!DOCTYPE html>
<html>
  <head>
    <title>Orga2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- W3-CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main class="mdl-layout__content">
      <%= render partial: "layouts/flashes" %>
      <%= yield %>
    </main>

    <footer>
      <%= render "layouts/footer" %></div>
    </footer>
  </body>
</html>
